*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{


}
#cabecalho{
    background-color: blanchedalmond;
    padding: 10px;
    
    display: grid;
    grid-template-columns:  1fr 4fr 1fr;

    
}

#itens_menu ul{
    list-style: none;
    display: flex;   
    
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;

    justify-content: center;

}

#itens_menu li{
    font-size: large;
}